body{
	background: url("../img/bckgrd1.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	color: white;
	font-family: 'Lora', serif;
}
.h1Font{
	font-family: 'Lora', serif;
	color: white;
	font-size: 5rem;
}
.h2Font{
	font-family: 'Lora', serif;
	color: white;
	font-size: 3rem;
}

.h4Font{
	font-family: 'Lora', serif;
	font-size: 2rem;
}

.h5Font{
	font-family: 'Lora', serif;
	font-size: 1.5rem;
}

.h5Font1r{
	font-family: 'Lora', serif;
	font-size: 1rem;
}

.h1Font2{
	font-size: 3rem;
	font-family: 'Lora', serif;
	color: white;
}
.h25Font{
	font-family: 'Lora', serif;
	font-size: 2.5rem;
}

.textCenter{
	text-align: center;
}

.colorA{
	color:white;
	font-weight: bolder;
	font-style: oblique;
}

.panel h5{
	color:white;
}

.slikaKorisnika{
	width: 100px;
	height: 78px;
}

.marginLeft100{
	margin-left: 100px;
}

table tbody tr th{
	line-height: 1.4rem;
}
/* pricing-table */
.pricingPanel{
	border: 10px solid #4c84ae;
	border-radius: 1000px;
	height: 370px;
	background-color: white;
}
#podlogaNone{
	background-color: none;
}
#pricingImage{
	border-radius: 150px;
}
.pricing-table{
	border:none;
}
.pricing-table .naziv{
	font-family: 'Lora', serif;
	color: #064D9D;
	font-size: 1.5rem;
	padding: 0.9375rem 1.25rem;
	text-align: center;
	font-weight: normal;
}
.pricing-table .opis{
	color: #064D9D;
	font-size: 1rem;
	padding: 0.9375rem;
	text-align: center;
	font-weight: normal;
	line-height: 1.4;
}
.pricing-table .bullet-item{
	color: white;
	font-size: 1rem;
	background-color: #063670;
}
#logokey{
	width:50%;
}

#logokey2{
	position: relative;
	left: -8rem;
	top: -1rem;
	width: 30%;
}
label{
	color:#59595A;
	font-weight: bold;
}
button, .button{
	background-color: #4c84ae;
}
#autoriziraj{
	margin-top: 13px;
}
.marginTopLogout{
	margin-top: 13px;
}
.paddingLeft{
	padding-left: 40px;
	border-right: 1px solid #4C84AE;
}
input[type=text],input[type=password]{
	border: 1px solid #4C84AE;
}
select{
	border: 1px solid #4C84AE;
}

#formLogPanel{
	background-color: white;
	border-color: #4c84ae;
	width:475px;
	height:84px;
	padding-top:0px;
	padding-right: 0px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-width: 6px;
}

/* LINIJE */
#zaglavljeLinija{
	border: 3px solid #4C84AE;
	position: relative;
	margin-top: 5.8rem;
	margin-bottom:0px;
	height:10px;
	background-color: white;
}
#meniBarLinija1{
	border-top: 10px solid #4C84AE;
	border-bottom: 10px solid #4C84AE;
	position: relative;
	margin-top: 10rem;
	margin-bottom:0px;
	height:50px;
	background-color: white;
}
.hrLinija{
	border-top: 1px solid #4C84AD;
}
#gornjiDio{
	position:relative;
	margin-top: -6.5rem;
}
#gornjiDioPanel{
	position:relative;
	margin-top: -16rem;
}
.relativePosition{
	position: relative;
	margin-top: -14rem;
}


.relativePositionOperateri{
	position: relative;
	margin-top: -13rem;
}

#meniBarLinija1operateri{
	border-top: 10px solid #4C84AE;
	border-bottom: 10px solid #4C84AE;
	position: relative;
	margin-top: 12rem;
	margin-bottom: 0px;
	height: 50px;
	background-color: white;
}

.reveal-modal .close-reveal-modal{
	font-size: 1rem;
	position: absolute;
	top: 0rem;
	right: 0rem;
	padding-top: 1.15rem;
	cursor: pointer;
	width: 100%;
	color: white;
	font-weight: normal;
}

#myModalBrisanjeNamirnice{
	height: 20rem;
}

/* SAMO ZA LARGE */
@media only screen and (min-width:64.063em) and (max-width:120em) {
	.relativePositionMeniOperateri{
	position: relative;
	margin-top: 2rem;
	}
	
	.relativePositionMeniKorisnici {
		position: relative;
		margin-top: 8.2rem;
	}

}


.icon-bar{
	background-color: white; /*#4C84AE;*/
	width: 99%;
}

#meniRadius{
	border-radius: 2rem;
	border: 5px solid #4c84ae;
}
#meniRadius label{
	color: #59595A;
	font-size: 1rem;
}
#meniRadius a:hover{
	background-color: #4C84AE;
}
.icon-bar.five-up .ikone{
	width: 33.33%;
}
#prvaIkonaOperateri{
	border-top-left-radius: 1rem;
}
#prvaIkonaKorisnici{
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
#trecaIkonaOperateri{
	border-top-right-radius: 1rem;
}
#trecaIkonaKorisnici{
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
#cetvrtaIkonaOperateri{
	border-bottom-left-radius: 1rem;
}
#sestaIkonaOperateri{
	border-bottom-right-radius: 1rem;
}

.quote{
	font-size:1.5rem;
}
.font1rem{
	font-size:1rem;
}
.marginBottom80{
	margin-bottom: 80px;
}
.marginBottom20{
	margin-bottom: 20px;
}



/*  MENI BAR */
.white{
	background-color: #white;
	border: 3px solid #4C84AE;
	height: 111px;
	position: relative;
	margin-bottom: 0px;
	opacity: 0.9;
}
.whiteCircle{
	background-color: #white;
	border: 5px solid #4C84AE;
	border-radius: 100px;
	width: 100px;
	height: 100px;
	padding-right: 20px;
}
.whiteCirclePaddingLeft{
	padding: 0 148px;
}
.whiteCirclePaddingMiddle{
	padding: 0 166px;
}
.whiteCirclePaddingRight{
	padding: 0 143px;
}

.krugovi{
	margin-top: -10rem;
}
#krugoviPanel{
	margin-left: 29.0625rem;
	margin-right: -46.9375rem;
}
#krugoviPanelNazivi{
	margin-left: 29.0625rem;
	margin-right: -46.9375rem;
}
.textPadding{
	padding: 0px 9.7rem;
}
.meniBar{
	font-size:20px;
	color: #59595A;
	font-weight: bold;
}
.meniBarSadrzaj{
	margin-top: 15px;
}
.meniBarSadrzajBorder{
	border-left:1px solid white;
	border-right:1px solid white;
	padding-left: 40px;
	padding-right: 40px;
}
p{
	font-size: 1.2rem;
}
.potpis{
	height: 40px;
	position: relative;
	margin-bottom: 0px;
	opacity: 0.9;
	margin-top: -5px;
}
.kartaWidth{
	width:100%;
	width:600px;
	height:450px;
	frameborder:0;
	border:0;
}


#podloga{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000;
	background: rgba(0, 0, 0, 0.45);
	z-index: 1004;
	left: 0;
	text-align: center;
}
#mojModal, #osobniPodaciModal, #dodajModal{
	display: block;
	opacity: 1;
	visibility: visible;
	top: 288px;
	width: 40%;
	max-width: 55.55556rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 1.66667rem;
	border: solid 1px #666666;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	position: absolute;
	z-index: 1005;
}



/* icons panel */
#iconBar .item{
	width: 50%;
}
#iconBar > * img{
	width: 3.875rem;
	height: 3.875rem;
}
#iconBar label{
	font-size: 1rem;
}

#nazad{
	margin:0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.remForma{
	margin-top: 0.45rem;
}
.remFormaButton{
	margin-top: 0.45rem;
	height: 2.3125rem;
	padding-top: 0.6rem;
}

.traziSelect{
	border-left: none;
}

#obavezno{
	margin-bottom: 0px;
}

.alert-box{
	font-size: 1rem;
}


.podlogaPanela{
	text-align: center;
background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top,  #7db9e8 -1%, #2989d8 0%, #7db9e8 0%, #7db9e8 0%, #7db9e8 0%, #2989d8 1%, #207cca 28%, #207cca 28%, #207cca 100%, #1e5799 100%, #207cca 100%, #207cca 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,#7db9e8), color-stop(0%,#2989d8), color-stop(0%,#7db9e8), color-stop(0%,#7db9e8), color-stop(0%,#7db9e8), color-stop(1%,#2989d8), color-stop(28%,#207cca), color-stop(28%,#207cca), color-stop(100%,#207cca), color-stop(100%,#1e5799), color-stop(100%,#207cca), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7db9e8 -1%,#2989d8 0%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 1%,#207cca 28%,#207cca 28%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7db9e8 -1%,#2989d8 0%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 1%,#207cca 28%,#207cca 28%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7db9e8 -1%,#2989d8 0%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 1%,#207cca 28%,#207cca 28%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7db9e8 -1%,#2989d8 0%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 1%,#207cca 28%,#207cca 28%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
}

.podlogaPanela a{
	color: white;
}

/* TABLICE */

table{
	width:100%;
}
table tr th{
	text-align: center;
	font-size: 1.5rem;
	color:white;
	
background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top,  #7db9e8 -1%, #2989d8 0%, #7db9e8 0%, #7db9e8 0%, #7db9e8 0%, #2989d8 1%, #207cca 28%, #207cca 28%, #207cca 100%, #1e5799 100%, #207cca 100%, #207cca 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,#7db9e8), color-stop(0%,#2989d8), color-stop(0%,#7db9e8), color-stop(0%,#7db9e8), color-stop(0%,#7db9e8), color-stop(1%,#2989d8), color-stop(28%,#207cca), color-stop(28%,#207cca), color-stop(100%,#207cca), color-stop(100%,#1e5799), color-stop(100%,#207cca), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7db9e8 -1%,#2989d8 0%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 1%,#207cca 28%,#207cca 28%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7db9e8 -1%,#2989d8 0%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 1%,#207cca 28%,#207cca 28%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7db9e8 -1%,#2989d8 0%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 1%,#207cca 28%,#207cca 28%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7db9e8 -1%,#2989d8 0%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 1%,#207cca 28%,#207cca 28%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */

}

table tr td{
	text-align: center;
	font-size: 1rem;
	color:white;



background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top,  #7db9e8 -1%, #7db9e8 0%, #7db9e8 0%, #7db9e8 0%, #2989d8 76%, #2989d8 76%, #207cca 100%, #207cca 100%, #1e5799 100%, #207cca 100%, #207cca 101%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,#7db9e8), color-stop(0%,#7db9e8), color-stop(0%,#7db9e8), color-stop(0%,#7db9e8), color-stop(76%,#2989d8), color-stop(76%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#207cca), color-stop(100%,#1e5799), color-stop(100%,#207cca), color-stop(101%,#207cca)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7db9e8 -1%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 76%,#2989d8 76%,#207cca 100%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 101%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7db9e8 -1%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 76%,#2989d8 76%,#207cca 100%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 101%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7db9e8 -1%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 76%,#2989d8 76%,#207cca 100%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 101%); /* IE10+ */
background: linear-gradient(to bottom,  #7db9e8 -1%,#7db9e8 0%,#7db9e8 0%,#7db9e8 0%,#2989d8 76%,#2989d8 76%,#207cca 100%,#207cca 100%,#1e5799 100%,#207cca 100%,#207cca 101%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */

}


table tr th .center{
	text-align: center;
}

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
input[type="color"], 
textarea{
	font-size: 1rem;
	font-weight: bold;
}

span.error, small.error{
	font-size: 1rem;
}


/* sub nav */
.sub-nav dt, .sub-nav dd, .sub-nav li{
	font-family: 'Lora', serif;
	font-size: 1rem;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a{
	background: #4c84ae;
}
.sub-nav li.active a:hover{
	background: #007095;
}
.panelBorder{
	border:1px solid #4C84AD;
}

.modalKolicinaWidth{
	width: 15%;
}

#myModal2{
	color:black;
}

.iconsColor{
	color:white;
}

.obrisi{
	width:100%;
}

.width100{
	width:100%;
}

.spacing05{
	border-spacing: 0.5rem;
}
.marginTop05{
	margin-top: 0.5rem;
}
.height28{
	height: 3.05rem;
}
.height295{
	height: 2.95rem;
}
.marginLeftTop{
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	width: 12.66667%;
}
#marginLeftRight{
	margin-left: 0.5rem;
	margin-right: 0rem;
}
.marginTop{
	margin-left: 0.5rem;
	width: 25.66667%;
}

.width10rem{
	width: 10rem;
}
.width1{
	width: 1%;
}

.backgroundWhite{
	background: white;
}
.podlogaZeleno{
	background: green;
}
.podlogaCrveno{
	background: red;
}

.margin0{
	margin: 0;
}





.tooltipster {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}